.imageHero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 491px;
    overflow: hidden;
}

.contentLogo {
    background-color: rgba(13, 13, 13, 0.82);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
