.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 32px;
    transition: backdrop-filter 0.3s ease-in-out;

    &.blurred {
        background-color: rgba(38, 38, 38, 0.82);
        backdrop-filter: blur(12px);
    }
}

.contentheader {
    height: 100%;
    width: 1040px;
    display: flex;
    justify-content: space-between;
}
