@import "sass/main";

.buttonhome {
    font-size: 24px;
    transition: all 200ms ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #b5b6b9;

    &:hover {
        color: color("Orange");
        transition: all 200ms ease-in-out;

        .arrowwrapper {
            transition: all 200ms ease-in-out;
            display: inline-block;

            @include respond-to("mobile") {
                display: none;
            }
        }
    }

    @include respond-to("mobile") {
        font-size: 16px;
        padding: 8px 0;
    }
}

.arrowwrapper {
    transition: all 200ms ease-in-out;
    display: none;

    @include respond-to("mobile") {
        display: none;
    }
}

.buttonpage {
    font-size: 24px;

    &.active {
        color: color("Orange");
    }
}
