@import "sass/main";

.contentlore {
    width: 508px;
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include respond-to("mobile") {
        padding: 80px 16px 24px 16px;
        gap: 16px;
        width: 100%;
    }
}

.avatar {
    display: flex;
    flex-direction: column;
    gap: inherit;
    width: 240px;
}

.responsiveimage {
    @include respond-to("mobile") {
        width: 100px;
        height: 100px;
    }
}

.title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;

    @include respond-to("mobile") {
        font-size: 16px;
        width: 100px;
    }
}

.lorem {
    font-size: 20px;
    line-height: 40px;
    color: color("Gray");

    @include respond-to("mobile") {
        font-size: 14px;
        line-height: 24px;
    }
}
