@import "sass/main";

.portfolioarticle {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.portfoliosection {
    background-color: color("DarkGray");
    width: inherit;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-top: 116px;
}

.me {
    width: inherit;
    display: flex;
    justify-content: flex-end;
}

.image {
    width: 500px;
    height: 500px;
}

.footer {
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    color: color("Gray");
}

.span {
    color: color("Orange");
}
