@import "sass/main";

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include respond-to("mobile") {
        display: flex;
        flex-direction: column;
    }
}

.leftColumn,
.rightColumn {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
