@import "sass/main";

.title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 36px;
    font-weight: 600;

    @include respond-to("mobile") {
        font-size: 24px;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    padding: 0 200px;

    @include respond-to("mobile") {
        flex-direction: column;
        gap: 0;
        padding: 0;
    }
}

.imagecontainer {
    display: flex;
    justify-content: center;
    flex: 1 1 300px;
    position: relative;
    overflow: hidden;

    @include respond-to("mobile") {
        align-items: center;
    }
}

.centeritem {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sketch {
    display: flex;
    gap: 24px;

    @include respond-to("mobile") {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

.gallerysketch {
    display: flex;
    flex-wrap: wrap;
    align-items: self-start;
    justify-content: space-between;
    width: 100%;

    @include respond-to("mobile") {
        flex-direction: column;
        gap: 24px;
    }
}

.imagecontainersketch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: auto;
    gap: 32px;

    @include respond-to("mobile") {
        width: 100%;
    }
}

.titlesketch {
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
}

.whidthimage {
    @include respond-to("mobile") {
        width: 331px;
        height: auto;
    }
}

.whidthimagesketch {
    height: auto;

    @include respond-to("mobile") {
        width: 358px;
        height: auto;
    }
}
