@import "sass/main";

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include respond-to("mobile") {
        display: flex;
        flex-direction: column;
    }
}

.item {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.05);
        }
    }
}
