@import "sass/main";

.imagecontainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1040px; // Máximo para desktop
    margin: 0 auto; // Centrar en el contenedor

    @include respond-to("mobile") {
        width: 331px;
    }
}
