@import "sass/main";

.contentnamefail {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0 200px;
}

.title {
    font-size: 48px;
    font-weight: 400;
    max-width: 100%;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.span {
    font-weight: 600;
    color: color("Orange");
}

.text {
    color: color("Gray");
    font-size: 24px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 24px;
    padding: 48px 200px;
}

.btnspeack {
    padding: 12px 24px;
    background-color: color("Orange");
    border-radius: 8px;
    color: color("White");
    font-size: 20px;
    line-height: 40px;
}

.btnback {
    color: color("Gray");
}
