@import "sass/main";

.contentproblemresume {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-to("mobile") {
        flex-direction: column;
        padding: 24px 16px;
        gap: 16px;
    }
}

.contentlore {
    width: 621px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include respond-to("mobile") {
        width: 100%;
    }
}

.title {
    font-size: 36px;
    font-weight: 600;

    @include respond-to("mobile") {
        font-size: 24px;
        width: 100%;
    }
}

.text {
    font-size: 20px;
    line-height: 40px;
    color: color("Gray");
    padding: 24px;

    @include respond-to("mobile") {
        font-size: 14px;
        line-height: 24px;
        width: 100%;
    }
}

.contentanchor {
    display: flex;
    justify-content: center;
}

.anchorup,
.anchordn {
    font-size: 20px;
    color: color("Orange");
    text-align: center;

    &.anchorup {
        @include respond-to("mobile") {
            display: none;
        }
    }

    &.anchordn {
        display: none;

        @include respond-to("mobile") {
            display: inline-block;
        }
    }
}
