@import "sass/main";

.listnavhome {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.listnavpage {
    display: flex;
    justify-content: center;
    gap: 100px;
    color: color("Gray");
}
